body {
    background-image: url("/assets/images/string-555070.jpg");
    margin:0;
    padding:0;
    margin-bottom: 60px;
}

.jumbotron h1 {
    color: #0f0f0f;
    opacity: 100;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    color: black;
    font-style: italic;
    font-weight: 500 !important;
    font-size: large;
}

/* http://stackoverflow.com/a/26131377 */
.container {
    padding: 0;
}