/* see http://stackoverflow.com/a/30556675 */
html, body {
    height: 100%;
}

@media (max-width: 780px) {
    body {
        background-image: none;
        background-color: whitesmoke;
    }
}

.fa-btn {
    margin-right: 6px;
}

.wrap {
    height: auto;
    margin: 0 auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}

.footer, .push {
    height:160px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #111111;
    color: #ddd6d7;
    padding-top: 20px;
    display: block;
    /* box-sizing: border-box; */
    text-align: center;
    margin-top: 120px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    position: relative;
}

.bright-white {
    color: #ddd6d7;
}

/* http://stackoverflow.com/a/31184284 */
.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

p.italic {
    font-style: italic;
}

.white-semitransparent {
    /* IE8 and below */
    background: rgb(108, 111, 126);
    /* opacity 0.5 */
    /*   background: rgba(100, 125, 115, 0.5); */
    background: rgba(245, 255, 255, 0.8);
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
}

div.topright {
    position: absolute;
    top: 10px;;
    right: 15px;
}

div.wrapper-attr-slider {
    visibility: hidden;
}

label {
    font-weight: normal !important;
}

.constraints {
    font-style: italic;
}

caption {
    font-size: 130%;
}

#new-playlist {
    display: none;
}

.inline {
    display: inline;
}

.upright {
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top: 0;
    right: 0;
}

/* path.domain { stroke: white; } */
/* .tick text { stroke: white; } */
/* .c3-legend-item text { stroke: white; } */