@()
<div class="modal fade" id="modal-monotonicTransition" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </a>
                <h4 class="modal-title" id="modal-label">Sort a range of tracks</h4>
            </div>
            <div class="modal-body">
                <strong>TRACK#:</strong>&nbsp;&nbsp;&nbsp;
                <div id="slider-monotonicTransition-div">
                    <label for="slider-monotonicTransition"></label><input id="slider-monotonicTransition" type="text">
                    <input type="hidden" id="slider-monotonicTransition-from" name="slider-monotonicTransition-from" value="1">
                    <input type="hidden" id="slider-monotonicTransition-to" name="slider-monotonicTransition-to" value="1">
                </div>
                <br/>
                <label for="radio-ConstantTransition" class="radio-inline"><input type="radio" id="radio-ConstantRange" name="monotonicTransition" value="ConstantTransition" checked="checked">
                    constant</label>
                <label for="radio-IncreasingTransition" class="radio-inline"><input type="radio" id="radio-IncreasingRange" name="monotonicTransition" value="IncreasingTransition">
                    increasing</label>
                <label for="radio-DecreasingTransition" class="radio-inline"><input type="radio" id="radio-DecreasingRange" name="monotonicTransition" value="DecreasingTransition">
                    decreasing</label>
                <label for="monotonicTransition-attr-select">HAVING</label>
                <select class="form-control" id="monotonicTransition-attr-select">
                    <option id="monotonicTransition-tempo" class="submitModal" value="Tempo">Tempo</option>
                    <option id="monotonicTransition-loudness" value="Loudness">Loudness</option>
                    <option id="rangeConstraint-duration" value="Duration">Duration</option>
                    <option id="monotonicTransition-acousticness" value="Acousticness">Acousticness</option>
                    <option id="monotonicTransition-liveness" value="Liveness">Liveness</option>
                    <option id="monotonicTransition-speechiness" value="Speechiness">Speechiness</option>
                    <option id="monotonicTransition-danceability" value="Danceability">Danceability</option>
                    <option id="monotonicTransition-energy" value="Energy">Energy</option>
                </select> <br/>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="italic" id="monotonicTransition-description">
                                Tempo is the pace of a track. It is derived from the beat duration,
                            and calculated in beats per minute (BPM). The values range are about 40 to 240 BPM.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Undo</button>
                <button type="button" class="btn btn-primary" id="unary"
                onclick="saveModal('monotonicTransition')">Save</button>
            </div>
        </div>
    </div>
</div>