@()
<div class="modal fade" id="modal-monotonicValue" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </a>
                <h4 class="modal-title" id="modal-label">Add a constraint</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>TRACK#:</strong>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="row">
                            <div class=col-lg-12>   "col-xs-8 col-sm-6">
                                <div id="slider-monotonicValue-div">
                                    <label for="slider-monotonicValue"></label><input id="slider-monotonicValue" type="text">
                                    <input type="hidden" id="slider-monotonicValue-from" name="slider-from" value="1">
                                    <input type="hidden" id="slider-monotonicValue-to" name="slider-to" value="1">
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="italic" id="monotonicValue-description">
                                    Tempo is the pace of a track. It is derived from the beat duration,
                                and calculated in beats per minute (BPM). The values range are about 40 to 240 BPM.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="monotonicValue-attr-select"></label><select class="form-control" id="monotonicValue-attr-select">
                            <option id="monotonicValue-tempo" class="submitModal" value="Tempo">Tempo</option>
                            <option id="monotonicValue-loudness" value="Loudness">Loudness</option>
                            <option id="monotonicValue-acousticness" value="Acousticness">Acousticness</option>
                            <option id="monotonicValue-liveness" value="Liveness">Liveness</option>
                            <option id="monotonicValue-danceability" value="Danceability">Danceability</option>
                            <option id="monotonicValue-energy" value="Energy">Energy</option>
                        </select>
                            <br/>
                        </div>
                        <div class="col-xs-6">
                            <label for="radio-IncludeLarger" class="radio-inline"><input type="radio" id="radio-IncludeLarger" name="monotonicValue" value="IncludeLarger">
                                no less than</label>
                            <label for="radio-IncludeSmaller" class="radio-inline"><input type="radio" id="radio-IncludeSmaller" name="monotonicValue" value="IncludeSmaller">
                                no more than</label>
                            <label for="radio-IncludeEquals" class="radio-inline"><input type="radio" id="radio-IncludeEquals" name="monotonicValue" value="IncludeEquals" checked="checked">
                                about</label>
                            <label class="inline" for="unary-input">
                                <input type="number" class="inline" id="monotonicValue-input"
                                onkeypress="return isEnterKeyPressed(event, 'monotonicValue')">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Undo</button>
                <button type="button" class="btn btn-primary" id="monotonicValue"
                onclick="saveModal('monotonicValue')">Save</button>
            </div>
        </div>
    </div>
</div>