@import io.bartholomews.musicgene.controllers
@import io.bartholomews.spotify4s.entities.PrivateUser
@import views.common.Tab
@import io.bartholomews.musicgene.controllers.http.session.SpotifySessionUser

@(user: PrivateUser)(implicit requestHeader: RequestHeader)
@main(activeTab = Tab.Spotify) {
    <div class="main-section">
        <div class="custom-asd-inline"><h2>@user.displayName.getOrElse(user.id)</h2></div>
        <div class="btn-group">
                <!-- TODO: pagination -->
            <form action="@controllers.routes.SpotifyController.playlists(SpotifySessionUser.Main)">
                <button class="btn btn-outline-dark">Playlist Generation</button>
            </form>

            <form action=@controllers.routes.SpotifyController.logout(SpotifySessionUser.Main)>
                <button class="btn btn-outline-dark" type="submit">Revoke</button>
            </form>
        </div>
        <hr class="horizontal-rule"/>
        <form action=@controllers.routes.SpotifyController.migrate()>
            <button class="btn btn-outline-dark" type="submit">Migrate</button>
        </form>
    </div>
}
