@import io.bartholomews.musicgene.controllers
@import io.bartholomews.spotify4s.entities.PrivateUser
@import views.common.Tab
@import io.bartholomews.musicgene.controllers.http.session.SpotifySessionUser
@import views.spotify.responses.SpotifyUserAndPlaylists.TheTuple
@import views.html.spotify.playlistTable

@(result: Either[String, (TheTuple, Option[TheTuple])])(implicit requestHeader: RequestHeader)
@main(activeTab = Tab.Spotify) {

    <div class="main-section">
        <h2><i>Migrate data from another Spotify account</i></h2>
        <br/>
        <div class="container">
        @result match {
            case Left(error) => {
                <div class="row">
                    <div class="col-md"><h2>@error</h2></div>
                </div>
            }
            case Right(((mainUser, playlists), None)) => {
                <div class="row">
                    <div class="col-md pull-left">
                        <h2>@{mainUser.displayName.getOrElse(mainUser.id)}</h2>
                    </div>
                    <div class="col-md pull-right">
                        <form action=@controllers.routes.SpotifyController.authenticate(SpotifySessionUser.Source)>
                            <button class="btn btn-outline-dark" type="submit">Login</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div>@playlistTable(playlists.items)</div>
                    </div>
                </div>
            }
            case Right(((mainUser, playlists), Some((sourceUser, sourcePlaylists)))) => {
                <div class="row">
                    <div class="col-md">
                        <h2>@mainUser.displayName.getOrElse(mainUser.id)</h2>
                    </div>
                    <div class="col-md">
                        <h2>@sourceUser.displayName.getOrElse(sourceUser.id)</h2>
                        <form action=@controllers.routes.SpotifyController.logout(SpotifySessionUser.Source)>
                            <button class="btn btn-outline-dark" type="submit">Revoke</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div>@playlistTable(playlists.items)</div>
                    </div>
                    <div class="col-md">
                        <div>@playlistTable(sourcePlaylists.items)</div>
                    </div>
                </div>
            }
        }
        </div>
        <hr class="horizontal-rule"/>
    </div>
}