@import io.bartholomews.spotify4s.entities.SimplePlaylist
@import io.bartholomews.spotify4s.entities.PrivateUser
@import io.bartholomews.spotify4s.entities.Page
@import views.spotify.requests.PlaylistsAction

@*TODO: Pagination*@
@(playlists: Page[SimplePlaylist], user: PrivateUser, action: PlaylistsAction)
<div class="migrate-section-actions @{
    action.userType
}">
    <div>
        <button
        type="button"
        data-action="@action.userType"
        data-user="@user.id.value"
        onclick="onSubmit(this)"
        class="btn btn-outline-dark btn-sm">@action.label</button>
    </div>
</div>
<div class="migrate-section-table">
    <table
    class="table table-hover"
    data-action="@action.userType"
    id="migrate-playlist-table-source">
        <thead>
            <tr>
                <th>
                    <div class="form-check">
                        <input id="migrate-playlist-@{action.userType}-select-all"
                        onclick="onSelectAllPlaylists(this)"
                        class="select-all-checkbox form-check-input" type="checkbox">
                        <label class="form-check-label" for="migrate-playlist-@{action.userType}-select-all">
                            <span>Select all</span>
                        </label>
                    </div>
                </th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="migrate-source-playlist-tbody">@playlists.items.zipWithIndex.map { case (p, index) =>
        <tr id="@p.id.value" class="clickable"
        data-name="@p.name"
        data-public="@p.public"
        data-collaborative="@p.collaborative"
        data-description="@p.description"
        onclick="onPlaylistRowClick(this)">
            <th scope="row">@index</th>
            <td>@p.name</td>
            <td>@p.description.getOrElse("-")</td>
        </tr>
                <!-- FIXME: Would be nice collapsible (and selectable) inner rows -->
        }
        </tbody>
    </table>
</div>
