@import io.bartholomews.spotify4s.entities.SimplePlaylist

@(playlists: List[SimplePlaylist])
<table class="table table-hover" id="music-collection-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
        <!-- TODO you already have tracks here, should probl collapse and show them -->
    <tbody class="music-collection-tbody">@playlists.zipWithIndex.map { case (p, index) =>
    <tr id="@p.id.value">
        <th scope="row">@index</th>
        <td>@p.name</td>
        <td>@p.description.getOrElse("-")</td>
    </tr>
    }
    </tbody>
</table>
