@import "animations/fade-in";

.navbar {
  @include fadeIn(1s);
  background: #637baa linear-gradient(to right, #AFBAC8, #7F96B9);

  .navbar-brand > span {
    position: relative;
    top: 20px;
    right: 10px;
    color: #303C42;
  }

  li {
    margin-right: 10px;

    .nav-item {
      color: #303C42;

      &.active {
        color: #153166;
      }

      &:hover {
        color: #194677;
        text-decoration: none;
      }
    }
  }
}