@(message: String)

@main("MIR") {
    <html xmlns="http://www.w3.org/1999/html">

        <head>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
        </head>

        <body>
            <div class="jumbotron text-center white-semitransparent">
                <h2>@message</h2>
                <form action = "@routes.HomeController.getSpotifyTracks" method = "get">
                    <button class="btn btn-success">Get Your Tracks</button>
                </form>
            </div>
        </body>

    </html>
}