
@(title: String)

@main("MUSIC-GENE") {
    <html>

        <head>
            <title>@title</title>
        </head>

        <body>
            <div class="jumbotron text-center">
                <h1>GENETIC PLAYLISTS</h1>
                <p>Create context-aware playlists</p>
                <p>based on content-based audio analysis features</p>
                <form action = "@routes.SpotifyController.auth" method = "get">
                    <button class="btn btn-success btn-lg">Login with Spotify</button>
                </form>
                <form action = "@routes.HomeController.getSampleTracks" method = "get">
                    <button class="btn btn-success btn-lg">Access a sample list of tracks (no login required)</button>
                </form>
            </div>
        </body>
    </html>
}