@import model.music.Song

@(title: String, tracks: Vector[(String, Vector[Song])])

@main("MIR") {

    <html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        <head>
            <script src="@routes.Assets.versioned("javascripts/modals.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/constraints.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/playlistRequest.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/playlistResponse.js")" type="text/javascript"></script>
            <!-- Bootstrap-select -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
                <!-- Bootstrap switch -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
                <!-- Bootstrap slider -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.1/css/bootstrap-slider.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.1/bootstrap-slider.min.js"></script>
        </head>

        <body>

            <div class="jumbotron text-center" id="jumbotron">
                <h1 id="playlist-title">Your Saved Playlists</h1>
                <p>Tick the songs to get the analysis.
                    Do something else.
                    See the plot.
                    Select constraints</p>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                data-target="#modal-playlistName">GENE-RATE</button>
                <br/><br/>
                    <!-- Constraints area: an inline div  -->
                <div class="constraints">
                        <div id="constraints-firstLine" class="inline">
                            <p class="inline" id="constraints-firstLine-1">A</p>
                            <button type="button" class="btn btn-secondary btn-lg">20 tracks</button>
                            <p class="inline" id="constraints-firstLine-2">playlist with no constraints</p>
                        </div>
                    <div id="input-constraints" data-clean="true">
                        <!-- here javaScript will dynamically add <p> elements
                             with attributes:
                             ==========================
                             type: { indexed, simple }
                             track-number: [n]
                             constraint-name: {constraint-name}
                             attribute-value: {attribute-value}
                             ==========================
                             and text:
                                '#[n] having {indexed-constraint-name} {<|=|>} {attribute-value}'
                                '#[n] having {simple-constraint-name}'
                            -->

                    </div>
                </div>
                <br/>
                <!-- Dropdown button Constraints modal -->
                <div class="btn-group">

                    @*
                    <!-- First Constraint type -->
                    <button type="button" class="btn btn-primary dropdown-toggle" id="constraints-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GLOBAL CONSTRAINTS</button>
                    <div class="dropdown-menu">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-duration">Duration</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-tempo">Tempo</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-loudness">Loudness</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-acousticness">Acousticness</button>
                        <div class="dropdown-divider"></div>
                    </div>
                        *@

                        <!-- UnaryConstraint -->
                    <button type="button" class="btn btn-primary" id="unary-constraints-button"
                    data-toggle="modal" data-target="#modal-unary">
                        ADD CONSTRAINT</button>
                </div>
                <br/><br/>
                <button type="button" class="btn btn-primary" id="reset-constraints"
                onclick="resetConstraints()">CLEAR CONSTRAINTS</button>
            </div>

                <!-- Generated playlist chart with C3.js -->
            <div id="playlist-chart">
            </div>

                <!-- Generated playlist float chart with C3.js -->
            <div id="playlist-float-chart">
            </div>

                <!-- Existing Music collection -->
            <div class="music-collection" id="music-collection">
            @tracks.map { t =>
                <table class="table table-hover" id="music-collection-table">
                    <caption>@t._1</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Loudness</th>
                            <th>Tempo</th>
                            <th>Acousticness</th>
                            <th>Danceability</th>
                            <th>Liveness</th>
                            <th>Speechiness</th>
                        </tr>
                    </thead>
                    <tbody class="music-collection-tbody">
                    @t._2.zip(Stream from 1).map { case (track, index) =>
                    <tr class="playable" id="@track.id" data-preview="@track.preview_url">
                        <th scope="row">@index</th>
                        <td id="@track.id-title">@track.title</td>
                        <td id="@track.id-duration">@track.durationToString</td>
                        <td id="@track.id-artist">@track.artist</td>
                        <td id="@track.id-album">@track.album</td>
                        <td id="@track.id-loudness">@track.loudness</td>
                        <td id="@track.id-tempo">@track.tempo</td>
                        <td id="@track.id-acousticness">@track.acousticness</td>
                        <td id="@track.id-danceability">@track.danceability</td>
                        <td id="@track.id-liveness">@track.liveness</td>
                        <td id="@track.id-speechiness">@track.speechiness</td>
                    </tr>
                    }
                    </tbody>
                </table>
            }
            </div>

                <!-- Newly generated playlist -->
            <div class="new-playlist" id="new-playlist">
                <table class="table table-hover" id="new-playlist-table">
                    <thead>
                        @* Should copy from main table to avoid duplicated code and change twice *@
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Loudness</th>
                            <th>Tempo</th>
                            <th>Acousticness</th>
                            <th>Danceability</th>
                            <th>Liveness</th>
                            <th>Speechiness</th>
                        </tr>
                    </thead>
                    <tbody>
                            <!-- Append generated songs here -->
                    </tbody>
                </table>
            </div>

                <!-- PlaylistName modal -->
            <div class="modal fade" id="modal-playlistName" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </a>
                                <h4 class="modal-title" id="modal-label">Name your playlist</h4>
                            </div>
                            <div class="modal-body">
                                <label>
                                    <input type="text" id="generate-playlist"
                                    onkeypress="return isEnterKeyPressed(event, 'playlist-input')">
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Undo</button>
                                <button type="button" id="playlist-input" class="btn btn-success"
                                onclick="createNewPlaylist()">GENE-RATE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- #Unary modal -->
            <div class="modal fade" id="modal-unary" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </a>
                            <h4 class="modal-title" id="modal-label">Add a constraint</h4>
                        </div>

                        <div class="modal-body">
                            @* <form class="form-inline"> *@

                            @*
                                <div class="form-inline">
                                    <div class="col-sm-3">
                                *@
                                    @* http://seiyria.com/bootstrap-slider/ *@
                            <strong>TRACK#:</strong>&nbsp;&nbsp;&nbsp;
                            <label for="slider-range"></label><input id="slider-range" type="text">
                            <input type="hidden" id="slider-from" name="slider-from" value="1">
                            <input type="hidden" id="slider-to" name="slider-to" value="1">

                                        @*
                                    <div class="row">
                                        <div class="form-group col-xs-2">
                                        <label for="unary-input-track"><strong>TRACK#</strong></label>
                                            <input type="number" class="form-control" id="unary-input-track"
                                            onkeypress="return isEnterKeyPressed(event, 'unary')">
                                        </div>
                                    </div>
                                    *@

                            <br/>
                            <label for="attr-select">@*HAVING*@</label>
                            <select class="form-control" id="attr-select">
                                <option id="unary-tempo" class="submitModal" value="Tempo">Tempo</option>
                                <option id="unary-loudness" value="Loudness">Loudness</option>
                                <option id="unary-duration" value="Duration">Duration</option>
                                <option id="unary-acousticness" value="Acousticness">Acousticness</option>
                                <option id="unary-liveness" value="Liveness">Liveness</option>
                            </select> <br/>

                            <label for="radio-IncludeLarger" class="radio-inline"><input type="radio" id="radio-IncludeLarger" name="unary-include" value="IncludeLarger">no less than</label>
                            <label for="radio-IncludeSmaller" class="radio-inline"><input type="radio" id="radio-IncludeSmaller" name="unary-include" value="IncludeSmaller">no more than</label>
                            <label for="radio-IncludeEquals" class="radio-inline"><input type="radio" id="radio-IncludeEquals" name="unary-include" value="IncludeEquals" checked="checked">about</label>
                            <label class="inline" for="unary-input">
                                        @* class="form-control" *@
                                        <input type="number" class="inline" id="unary-input"
                                        onkeypress="return isEnterKeyPressed(event, 'unary')">
                            </label>
                        </div>

                           @* </form> *@

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Undo</button>
                            <button type="button" class="btn btn-primary" id="unary"
                            onclick="saveModal('unary')">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </body>
</html>

}