@import model.music.Song

@(title: String, tracks: Vector[(String, Vector[Song])])

@main("MIR") {

    <html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        <head>
            <script src="@routes.Assets.versioned("javascripts/modals.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/constraints.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/playlistRequest.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/playlistResponse.js")" type="text/javascript"></script>
            <!-- Bootstrap-select -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
                <!-- Bootstrap switch -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
                <!-- Bootstrap slider -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.1/css/bootstrap-slider.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.1/bootstrap-slider.min.js"></script>
        </head>

        <body>

            <div class="jumbotron text-center" id="jumbotron">
                <h1 id="playlist-title">@title's Playlists</h1>
                <p>Tick the songs to get the analysis.
                    Do something else.
                    See the plot.
                    Select constraints</p>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                data-target="#modal-playlistName">GENE-RATE</button>
                <br/><br/>
                    <!-- Constraints area: an inline div  -->
                <div class="constraints">
                        <div id="constraints-firstLine" class="inline">
                            <p class="inline" id="constraints-firstLine-1">A</p>
                            <button type="button" class="btn btn-secondary btn-lg" id="numberOfTracks" value="10"
                            data-toggle="modal" data-target="#modal-tracks">10 tracks</button>
                            <p class="inline" id="constraints-firstLine-2">playlist with no constraints</p>
                        </div>
                    <div id="input-constraints" data-clean="true">
                        <!-- here javaScript will dynamically add <p> elements
                             with attributes:
                             ==========================
                             type: { indexed, simple }
                             track-number: [n]
                             constraint-name: {constraint-name}
                             attribute-value: {attribute-value}
                             ==========================
                             and text:
                                '#[n] having {indexed-constraint-name} {<|=|>} {attribute-value}'
                                '#[n] having {simple-constraint-name}'
                            -->
                    </div>
                </div>
                <br/>
                <!-- Dropdown button Constraints modal -->
                <div class="btn-group">

                    @*
                    <!-- First Constraint type -->
                    <button type="button" class="btn btn-primary dropdown-toggle" id="constraints-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GLOBAL CONSTRAINTS</button>
                    <div class="dropdown-menu">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-duration">Duration</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-tempo">Tempo</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-loudness">Loudness</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-acousticness">Acousticness</button>
                        <div class="dropdown-divider"></div>
                    </div>
                        *@

                        <!-- ValueConstraint (i.e. MonotonicValue, Unary) -->
                    <button type="button" class="btn btn-primary" id="valueConstraint-constraints-button"
                    data-toggle="modal" data-target="#modal-valueConstraint">
                        VALUE CONSTRAINT</button>
                        <!-- RangeConstraint (i.e. MonotonicRange) -->
                    <button type="button" class="btn btn-primary" id="rangeConstraint-constraints-button"
                    data-toggle="modal" data-target="#modal-rangeConstraint">
                        SORT CONSTRAINT</button>
                </div>
                <br/><br/>
                <button type="button" class="btn btn-primary" id="reset-constraints"
                onclick="resetConstraints()">CLEAR CONSTRAINTS</button>
            </div>

                <!-- Generated playlist chart with C3.js -->
            <div id="playlist-chart">
            </div>

                <!-- Generated playlist float chart with C3.js -->
            <div id="playlist-float-chart">
            </div>

                <!-- Existing Music collection -->
            <div class="music-collection" id="music-collection">
            @tracks.map { t =>
                <table class="table table-hover" id="music-collection-table">
                    <caption>@t._1</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Loudness</th>
                            <th>Tempo</th>
                            <th>Energy</th>
                            <th>Acousticness</th>
                            <th>Danceability</th>
                            <th>Liveness</th>
                            <th>Speechiness</th>
                        </tr>
                    </thead>
                    <tbody class="music-collection-tbody">
                    @t._2.zip(Stream from 1).map { case (track, index) =>
                    <tr class="playable" id="@track.id" data-preview="@track.preview_url">
                        <th scope="row">@index</th>
                        <td id="@track.id-title">@track.title</td>
                        <td id="@track.id-duration">@track.stringDuration</td>
                        <td id="@track.id-artist">@track.artist</td>
                        <td id="@track.id-album">@track.album</td>
                        <td id="@track.id-loudness">@track.loudness</td>
                        <td id="@track.id-tempo">@track.tempo</td>
                        <td id="@track.id-energy">@track.energy</td>
                        <td id="@track.id-acousticness">@track.acousticness</td>
                        <td id="@track.id-danceability">@track.danceability</td>
                        <td id="@track.id-liveness">@track.liveness</td>
                        <td id="@track.id-speechiness">@track.speechiness</td>
                    </tr>
                    }
                    </tbody>
                </table>
            }
            </div>

                <!-- Newly generated playlist -->
            <div class="new-playlist" id="new-playlist">
                <table class="table table-hover" id="new-playlist-table">
                    <thead>
                        @* Should copy from main table to avoid duplicated code and change twice *@
                        @* TODO dynamically copy <tr> from main table above to avoid code repetition*@
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Loudness</th>
                            <th>Tempo</th>
                            <th>Acousticness</th>
                            <th>Danceability</th>
                            <th>Liveness</th>
                            <th>Speechiness</th>
                        </tr>
                    </thead>
                    <tbody>
                            <!-- Append generated songs here -->
                    </tbody>
                </table>
            </div>

                <!-- Number of tracks modal -->
            <div class="modal fade" id="modal-tracks" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </a>
                                <h4 class="modal-title" id="modal-label">Select number of tracks</h4>
                            </div>
                            <div class="modal-body">
                                <label>
                                    <input type="number" id="input-numberOfTracks" min="5" max="50"
                                    onkeypress="return isEnterKeyPressed(event, 'submit-numberOfTracks')">
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Undo</button>
                                <button type="button" id="submit-numberOfTracks" class="btn btn-success"
                                onclick="selectNumberOfTracks()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- PlaylistName modal -->
            <div class="modal fade" id="modal-playlistName" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </a>
                                <h4 class="modal-title" id="modal-label">Name your playlist</h4>
                            </div>
                            <div class="modal-body">
                                <label>
                                    <input type="text" id="generate-playlist"
                                    onkeypress="return isEnterKeyPressed(event, 'playlist-input')">
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Undo</button>
                                <button type="button" id="playlist-input" class="btn btn-success"
                                onclick="createNewPlaylist()">GENE-RATE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- #valueConstraint modal -->
            <div class="modal fade" id="modal-valueConstraint" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </a>
                            <h4 class="modal-title" id="modal-label">Add a constraint</h4>
                        </div>

                        <div class="modal-body">
                            <strong>TRACK#:</strong>&nbsp;&nbsp;&nbsp;
                            <div id="slider-valueConstraint-div">
                            <label for="slider-valueConstraint"></label><input id="slider-valueConstraint" type="text">
                            <input type="hidden" id="slider-valueConstraint-from" name="slider-from" value="1">
                            <input type="hidden" id="slider-valueConstraint-to" name="slider-to" value="1">
                            </div>
                            <br/>
                            <label for="attr-select">@*HAVING*@</label>
                            <select class="form-control" id="attr-select">
                                <option id="valueConstraint-tempo" class="submitModal" value="Tempo">Tempo</option>
                                <option id="valueConstraint-loudness" value="Loudness">Loudness</option>
                                <option id="valueConstraint-duration" value="Duration">Duration</option>
                                <option id="valueConstraint-acousticness" value="Acousticness">Acousticness</option>
                                <option id="valueConstraint-liveness" value="Liveness">Liveness</option>
                                <option id="valueConstraint-danceability" value="Danceability">Danceability</option>
                                <option id="valueConstraint-energy" value="Energy">Energy</option>
                            </select>
                            <br/>
                            <label for="radio-IncludeLarger" class="radio-inline"><input type="radio" id="radio-IncludeLarger" name="monotonicValue" value="IncludeLarger">no less than</label>
                            <label for="radio-IncludeSmaller" class="radio-inline"><input type="radio" id="radio-IncludeSmaller" name="monotonicValue" value="IncludeSmaller">no more than</label>
                            <label for="radio-IncludeEquals" class="radio-inline"><input type="radio" id="radio-IncludeEquals" name="monotonicValue" value="IncludeEquals" checked="checked">about</label>
                            <label class="inline" for="unary-input">
                                @* class="form-control" *@
                                <input type="number" class="inline" id="valueConstraint-input"
                                onkeypress="return isEnterKeyPressed(event, 'valueConstraint')">
                            </label>
                        </div>
                           @* </form> *@
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Undo</button>
                            <button type="button" class="btn btn-primary" id="valueConstraint"
                            onclick="saveModal('valueConstraint')">Save</button>
                        </div>
                    </div>
                </div>
            </div>

                <!-- #rangeConstraint modal -->
            <div class="modal fade" id="modal-rangeConstraint" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </a>
                            <h4 class="modal-title" id="modal-label">Sort a range of tracks</h4>
                        </div>

                        <div class="modal-body">
                            <strong>TRACK#:</strong>&nbsp;&nbsp;&nbsp;
                            <div id="slider-rangeConstraint-div">
                            <label for="slider-rangeConstraint"></label><input id="slider-rangeConstraint" type="text">
                            <input type="hidden" id="slider-rangeConstraint-from" name="slider-rangeConstraint-from" value="1">
                            <input type="hidden" id="slider-rangeConstraint-to" name="slider-rangeConstraint-to" value="1">
                            </div>
                                <br/>
                            <label for="radio-ConstantRange" class="radio-inline"><input type="radio" id="radio-ConstantRange" name="rangeConstraint" value="ConstantRange" checked="checked">constant</label>
                            <label for="radio-IncreasingRange" class="radio-inline"><input type="radio" id="radio-IncreasingRange" name="rangeConstraint" value="IncreasingRange">increasing</label>
                            <label for="radio-DecreasingRange" class="radio-inline"><input type="radio" id="radio-DecreasingRange" name="rangeConstraint" value="DecreasingRange">decreasing</label>
                            <label for="rangeConstraint-attr-select">@*HAVING*@</label>
                            <select class="form-control" id="rangeConstraint-attr-select">
                                <option id="rangeConstraint-tempo" class="submitModal" value="Tempo">Tempo</option>
                                <option id="rangeConstraint-loudness" value="Loudness">Loudness</option>
                                <option id="rangeConstraint-duration" value="Duration">Duration</option>
                                <option id="rangeConstraint-acousticness" value="Acousticness">Acousticness</option>
                                <option id="rangeConstraint-liveness" value="Liveness">Liveness</option>
                                <option id="rangeConstraint-speechiness" value="Speechiness">Speechiness</option>
                                <option id="valueConstraint-danceability" value="Danceability">Danceability</option>
                                <option id="valueConstraint-energy" value="Energy">Energy</option>
                            </select> <br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Undo</button>
                            <button type="button" class="btn btn-primary" id="unary"
                            onclick="saveModal('rangeConstraint')">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </body>
</html>

}